.about{
    align-content: center;
    vertical-align: text-top;
}

.image-of-andrew{
    border: solid 4px rgb(0, 0, 0);
    display: block;
    margin-left: 250px;
    margin-right: auto;
    margin-top: 300px;
    width: 15%;
    border-radius: 300px;
    
}

.about p{
    text-align: center;
    float: right;
}