.about{
    padding: 15%;
    display: flex;
    margin-top: 20%;
}

.image-of-andrew{
    border: solid 4px rgb(0, 0, 0);
    float:left;
    width: 30%;
    height: auto;
    border-radius: 300px;
}

.about p{
    border-bottom: solid 4px black;
    text-align: center;
    padding: 0 15px 0 10px;
    font-weight: bold;
}