.about{
    padding: 10%;
    display: flex;
    margin-top: 2%;
}

.image-of-andrew{
    border: solid 4px rgb(0, 0, 0);
    float:left;
    width: 23%;
    height: auto;
    border-radius: 300px;
}

.about p{
    text-align: center;
    padding: 0 50px 0 50px;
    font-weight: bold;
}

.about span{
    border-bottom: solid 1px rgb(0, 0, 0);
}

@media only screen and (max-width: 860px){
    .about{
        margin-top: 20%;
        padding: 1%;
        display: flex;
        flex-direction: column;
    }

    .image-of-andrew{
        border: solid 4px rgb(0, 0, 0);
        align-self: center;
        width: 40%;
        margin: auto;
    }
}