*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

main{
    box-sizing: border-box;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.24);
    width: auto;
    padding: 2%;
    margin: none;
    height: 1.8em;
    
}
.name{
    position: relative;
    font:bold;
    text-size-adjust: auto;
    float:left;
    text-decoration: none;
    font-size: 24px;
}
/* NOTE TO SELF. find a computer logo and put it on the center of your page */
.info{
    float:right;
    margin-right: 2.2%;
    font-size: 100%;
    text-decoration: none;
    opacity: 0.85;
    text-align: center;
    font-size: 24px;
    color:cadetblue
}

body {
    overflow: auto;
    background-color:rgba(0, 0, 0, 0.671) ;
    text-align: center;
    
  }

.home{
    display:inline;
    align-content: center;
}

#home img{
    width: 35%;
}

#projects{
    display: grid;
    column-gap: 50px;
}
#contact{
    position: fixed;
    right: 25%;
    bottom: 0;
    padding-bottom: 2%;
    width: 100%;
    color: white;
    text-align: center;
}