html{
    box-sizing: border-box;
}

body{
    font-family:"Times";
    background-color: burlywood;
    margin: 0;

}

header{
    background-color: #8d87de;
    position: relative;
    padding: 1rem;
}

nav a{
    color: black;
    font-size: 30px;
    text-decoration: aliceblue
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
}

nav li {
    display: inline;
    margin-right:0.9rem
}

main{
    margin:1rem auto;
    width:80%;
}

main section{
    margin-top:6rem;
    padding:1rem;
}

.home img{
    float: left;
    margin-left: 3rem;
    width:300px
}
.projects img{
    float: inline-start;
    margin-left: 0rem;
    width:5px;
}
p.Apara {
    block-size: 50%;
    margin-block-start: -10em;
    margin-inline-start: 25em;
}
p.written {
    margin-inline-start: 175px;
    margin-block-start: -55px;
}   
/* adding shadows to my projects card */
.card{ 
    transition:0.2s;
    
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background: salmon;
}

.container{
    
    width: 70%; 
    height: 50%;   
}
section.about{
    margin-top: 0pt;
}
section.home{
    margin-bottom: 30em;
}
p.hOME{
    margin-inline-start: 30em;
    font-size: larger
}
