.home{
    margin: 10% 20px 0 20px;
}

.laptop-img{
    width: 250px;
    margin:0 0 0 40px;
    border-radius: 20px;
    float: left;
    box-shadow: 1px 5px 15px 10px rgba(0, 0, 255, .2);
}

@media only screen and (max-width: 800px) { 
    .home{
        margin-top: 20%;
    }

    .laptop-img{
        width: 205px;
        border-radius: 20px;
        float: none;
    }
 }

.home button{
    width: 150px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
}