.home{
    margin-top: 20%;
}

span img{
    width: 250px;
    float: left;
    border-radius: 20px;
}

.home button{
    width: 150px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
}