.home{
    margin-top: 10%;
}

span img{
    width: 250px;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) { 
    .home{
        margin-top: 20%;
    }
 }

.home button{
    width: 150px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
}